form {
    border: 1px solid #555454;
    border-radius: 5px;
    padding: 40px;
    background-color: #9e8383;
input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
  }
}
